
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPost</title>
</head>
<body>
      <div class="row">

                <div style="overflow-wrap: break-word;">


                    <textarea id="mypost" style="text-align: start; border-color: aqua; background-color: white; border: solid; width: 90%; height: 100px;">

    
                             
                      </textarea><br />
                    <br />
                    <form name="MyForm" method="post">
                        <input style="ruby-align: right;" class="btn btn-default" type="submit" value="Post">
                    </form>

                </div>

            </div>
</body>
</html>
