@using Project_EAD.Models;
@{
    Layout = "~/Views/Shared/Others.cshtml";
    User user = (User)Session["user"];
    
}
@model List<Friend>

 <script src="~/Scripts/jquery-1.9.0.min.js"> </script>
                
<script src="~/Scripts/jquery-1.10.1.min.js"> </script>

  <script>
        
         function message(userName)
         {
             com = $('#chat').val();
             $.getJSON("/Message/Chat/userName=" + userName, function (data) {
              
             });
         }
    </script>

    <div class="content">
        <div class="module">
            <div class="module-head">
                <h3>Chat With</h3>
            </div>

            <div class="module-body" id="d1">

                <div class="row-fluid">
                     @foreach(Friend u in Model)
                              { 
                                  if(u.FriendName.Equals(user.UserName))
                                  {
                    
                                   <div style="margin-left:10%" class="span9">
                                     
                                            <div class="media user">
                                                <a class="media-avatar pull-left" href="/Client/AddFriends">
                                                   <img src="@u.User.ImagePath">
                                                </a>
                                                <div class="media-body">
                                                    <h3 class="media-title">
                                                        @u.User.Name</h3>
                                                    <p>
                                                        <small class="muted">Pakistan</small></p>
                                              
                                                    
                                                    <div class="media-option btn-group shaded-icon">

                                                          <form method="post" onsubmit="/Message/Chat" action="/Message/Chat">
                                                              <div class="media-option btn-group shaded-icon">
                                                              @Html.Hidden("userName", @u.User.UserName);
                                                            <button type="submit" class="btn btn-small icon-envelope" style="height:4%; "></button>
                                                                  </div>
                                                          </form>
                                          
                                                    </div>
                                                </div>
                                            </div>
                                         
                                        </div>
                
                                    }
                                    
                                    }

                </div>
                                        
            </div>
        
        </div>
    </div>
