@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/Images/mlogo.png" />
    <title>Welcome To Social Pedia</title>

    <!-- Bootstrap core CSS -->
    <link href="~/HomePage/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="~/HomePage/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="~/HomePage/css/landing-page.css" rel="stylesheet">
</head>

<body>



    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 style="font-weight: bold; font-family: 'Old English Text MT'; ">Social Pedia </h1>
                        <h3>Eat , Sleep , and Be Social</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="/Home/SignUp" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Sign Up</span></a>
                            </li>
                            <li><a href="/Home/Index" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Home</span></a>
                            </li>
                            <li><a href="/Home/SignIn" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i><span class="network-name">SignIn</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Post , Articles , And Lots Of More
                        <br>
                        Join <a class="brand" href="/Home/Index" >Social Pedia </a></h2>
                    <p class="lead">Become the Part of Our Network and enjoy </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="~/HomePage/img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Start Social Pedia</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline intro-social-buttons">
                        <li><a href="/Home/SignUp" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Sign Up</span></a>
                        </li>
                        <li><a href="/Home/Index" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Home</span></a>
                        </li>
                        <li><a href="/Home/SignIn" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i><span class="network-name">SignIn</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
</body>

</html>

